<!-- <%= form_with(model: photo, local: true) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :caption %>
    <%= form.text_field :caption, id: :photo_caption %>
  </div>

<% end %> -->
<div class="go-middle">
  <% if user_signed_in? %>
    <div class="underline">Signed in as <%= current_user.email %></div>
  <% end %>
  <br>

  <%= form_for @photo do |f| %>
    <%= render "shared/errors", object: @photo %>

    <%= f.hidden_field :image, value: @photo.cached_image_data %>
    <%= f.label :image %>:
    <br>
    <%= f.file_field :image, class: "fish" %>

    <!-- <%= f.label :title %>
    <%= f.text_field :title %> -->
    <br>
    <br>

    <%= f.label :full_name %>
    <br>
    <%= f.text_field :full_name, :required => 'required' %>
    <br>
    <!-- <% if @photo.image_data? %>
        <%= image_tag @photo.image_url(:thumb) %>
        Remove attachment: <%= f.check_box :remove_image %>
    <% end %> -->
    <br>

    <%= f.submit "I love Takuya" %>
  <% end %>
</div>
