<div class="go-middle">
<p id="notice"><%= notice %></p>

<h1>Profile</h1>

<% if current_user.photo.present? %>
  <% @photos.each do |photo| %>
    <img src="<%= photo.image_url %>">
    <br>
    <p> Full Name: <span><%= photo.full_name %></span></p>
    <br>
    <%= link_to 'Edit Profile', edit_photo_path(photo) %>
  <% end %>
<% else %>
  <%= link_to 'Create a New Profile', new_photo_path %>
<% end %>


</div>
