<!-- <h1>Escape Requests</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Rescue title</th>
      <th scope="col">Dollar amount</th>
      <th scope="col">Location</th>
      <th scope="col">Description</th>
      <th scope="col">Requirements</th>
    </tr>
  </thead>
  <tbody>
    <% @escapes.each do |escape| %>
      <tr>
        <td><%= escape.user_id %></td>
        <td><%= escape.rescue_title %></td>
        <td><%= escape.dollar_amount %></td>
        <td><%= escape.location %></td>
        <td><%= escape.description %></td>
        <td><%= escape.requirements %></td>
        <td><%= link_to 'Show', escape %></td>
        <td><%= link_to 'Edit', edit_escape_path(escape) %></td>
        <td><%= link_to 'Destroy', escape, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<% @escapes.each do |escape| %>
  <div class="container">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h4 class="card-title"><%= escape.rescue_title %></h4>
        <h6 class="card-subtitle mb-2 text-muted">User: <%= escape.user_id %></h6>
        <h6 class="card-subtitle mb-2">Money: $<%= escape.dollar_amount %></h6>
        <h6 class="card-subtitle">Location: <%= escape.location %></h6>
        <br>
        <h6>Description</h6>
        <p class="card-text"><%= escape.description %></p>
        <h6>Requirements</h6>
        <p class="card-text"><%= escape.requirements %></p>
        <a href="#" class="card-link"><%= link_to 'Show', escape %> | </a>
        <a href="#" class="card-link"><%= link_to 'Edit', edit_escape_path(escape) %> | </a>
        <a href="#" class="card-link"><%= link_to 'Destroy', escape, method: :delete, data: { confirm: 'Are you sure?' } %></a>
      </div>
    </div>
    <br>
  </div>
<% end %>
