<%= form_tag escape_charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span><%= @escape.dollar_amount %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-label="Pay"
          data-amount="<%= @escape.dollar_amount*100 %>"
          data-locale="auto"
          data-currency="aud"></script>
<% end %>
