<!DOCTYPE html>
<html>
  <head>
    <title>Escapegoat</title>
    <%= csrf_meta_tags %>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBM2rjqjkDvQJL4Lns2eQTephA_plxuy0g&callback=initMap">
    </script>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_API_KEY'] %>&libraries=places"></script> -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <%= render 'devise/partials/logout' %> |
        <%= link_to 'Home', root_path %> |
        <%= link_to 'Photos', photos_path %> |
        <%= link_to 'Profile', profiles_path %> |
        <%= link_to 'Escape!', escapes_path %> |
        <%= link_to 'Charges', new_charge_path %> |
      </form>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
