<!DOCTYPE html>
<html>
  <head>
    <title>Escapegoat</title>
    <%= csrf_meta_tags %>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBM2rjqjkDvQJL4Lns2eQTephA_plxuy0g&callback=initMap">
    </script>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_API_KEY'] %>&libraries=places"></script> -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#"><%= render 'devise/partials/logout' %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= link_to 'Home', root_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= link_to 'Photos', photos_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= link_to 'Escape!', escapes_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= link_to 'New Escape', new_escape_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= link_to 'Charges', new_charge_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= link_to 'Inbox', inbox_index_path %></a>
      </li>
    </ul>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
