<!DOCTYPE html>
<html>
  <head>
    <title>Escapegoat</title>
    <%= csrf_meta_tags %>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBM2rjqjkDvQJL4Lns2eQTephA_plxuy0g&callback=initMap">
    </script>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_API_KEY'] %>&libraries=places"></script> -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <%= render 'devise/partials/logout' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Profile', photos_path %>
      </li>

      <li class="nav-item">
        <%= link_to 'Homepage', root_path %>
      </li>
      <li class="nav-item">
        <%= link_to 'Message', inbox_index_path %>
      </li>
      <li class="nav-item">
        <%= link_to 'Escape!', new_escape_path %>
      </li>

    </ul>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
